apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: ecom
  labels:
    app: kafka
spec:
  type: ClusterIP
  selector:
    app: kafka
  ports:
  - name: kafka-internal
    port: 9092
    targetPort: 9092
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: ecom
  labels:
    app: kafka
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: kafka
  ports:
  - name: kafka-internal
    port: 9092
    targetPort: 9092
    protocol: TCP
